.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.h3 {
    font-size: .8rem;
}

.link {
    color: blue;
    display: inline-block;
    text-decoration: underline;
}
.link:hover {
    display: inline-block;
    text-decoration: none;
    color: red;
}